<h1>Film disponibili per il noleggio</h1>
<table>
  <thead>
    <tr>
      <th>
        Titolo
      </th>
      <th>
        Titolo originale
      </th>
      <th>
        Anno di pubblicazione
      </th>
      <th>
        Durata (min.)
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.Title}}</td>
      <td>{{item.OriginalTitle}}</td>
      <td>{{item.PublishingYear}}</td>
      <td>{{item.Length}}</td>
    </tr>
    
  </tbody>
  <tr>
    
  </tr>
</table>